@import 'custom';

// INDEX
html, body {
    position: relative;
    background-color: $color1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
}
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color1;
    width: 100%;
    height: auto;
}
main {
    background-color: $color1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}
footer {
    margin: 10px auto;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $color1;
}
footer p {
    font-family: $family-text;
    font-size: 0.65rem;
    margin: 0;
}
h1 {
    font-family: $family-title;
    font-size: 2.25rem;
    margin: 5px;
    font-weight: 700;
}
h2 {
    font-family: $family-title;
    font-size: 1.75rem;
    margin: 5px;
    font-weight: 700;
}   
h3 {
    font-family: $family-title;
    font-size: 1.5rem;
    margin: 5px;
    font-weight: 700;
}
h4 {
    font-family: $family-title;
    font-size: 1.25rem;
    margin: 5px;
    font-weight: 700;
}
p {
    font-family: $family-text;
    font-size: 1rem;
    margin: 5px;
}
.navbar {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0;
}
.navbar-toggler button {
    background-color: $color2;
}
.navbar-nav {
    font-size: 1.5rem;
    font-family: $family-title;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100vw;
    max-width: 1440px;
    height: 100%;
}
.logo {
    padding: 5px;
    border-radius: 10px;
    margin: 0;
    width: 100px;
    height: 100px;
    right: 0;
}


// 404 PAGE
.error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 200px;
    padding: 10px;
    background-color: $color2;
    border-radius: 10px;
}

// HOME PAGE
.welcome-video {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    max-height: 810px;
}
.welcome-video video {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.overlay {
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(98, 125, 75, 0.65); /* Transparence à 50% */
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    max-height: 240px;
    width: 100%;
    height: 100%;
    text-align: left;
}
.habitats-services{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 320px;
    display: flex;
    flex-direction: row;
}
.card1 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 320px;
}
.card1-inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 320px;
    transition: transform 0.3s;
    text-align: center;
}
.card1-front {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: end;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 320px;
    background-size: cover;
    background-image: url('/img/mainPage/habitats.jpg');
    transition: filter 0.6s;
    backface-visibility: hidden;
}
.card1-front h2 {
    font-family: $family-title;
    font-size: 1.5rem;
    padding: 5px;
    font-weight: 700;
}
.card1-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 320px;
    background-color: $color5 ;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s;
}
.card1:hover .card1-front {
    filter: blur(5px);
}
.card1:hover .card1-back {
    opacity: 1;
}
.card1-back button {
    background-color: $color2;
    font-family: $family-title;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.card1-back button:hover {
    background-color: $color4;
    font-family: $family-title;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.card2{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.card2-img {
    max-width: 300px;
    max-height: 320px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
}
.card2-img:hover {
    transform: scale(1.05); 
}
.card3 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 320px;
}
.card3-inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 320px;
    transition: transform 0.3s;
    text-align: center;
}
.card3-front {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: end;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 320px;
    background-size: cover;
    background-image: url('/img/mainPage/services.jpg');
    transition: filter 0.6s;
    backface-visibility: hidden;
}
.card3-front h2 {
    font-family: $family-title;
    font-size: 1.5rem;
    padding: 5px;
    font-weight: 700;
}
.card3-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 320px;
    background-color: $color6;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s;
}
.card3:hover .card3-front {
    filter: blur(5px);
}
.card3:hover .card3-back {
    opacity: 1;
}
.card3-back button {
    background-color: $color2;
    font-family: $family-title;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.card3-back button:hover {
    background-color: $color4;
    font-family: $family-title;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.card4{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.card4-img {
    max-width: 240px;
    max-height: 320px;
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url('/img/mainPage/singe.jpg'); /* Path to your front image */
    background-size: cover;
    background-position: center; /* Center the image */
    transition: transform 0.3s;
}
.card4-img:hover {
    transform: scale(1.05); 
}



// SERVICES PAGE
.bigtitle {
    width: 100vw; /* Full width of the viewport */
    height: 250px;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.bigtitle-img-services {
    width: 100%; /* Cover the full width of .bigtitle */
    height: 100%; /* Cover the full height of .bigtitle */
    background-size: cover; /* Ensure the image covers the entire card */
    background-position: center; /* Center the image */
    background-image: url('/img/services/bande-zebre.jpg'); /* Path to your front image */
    padding: 0;
    position: relative;
 
}
.bigtitle-content {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 1440px;
    margin: auto;
}
.card-services, .card-habitats{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
}
.card-restaurant{
    position: relative;
    margin: 10px;
    background-color: $color4;
    width: 340px;
    height: 600px;
    padding: 0;
    border-radius: 10px;
    transition: transform 0.3s;
}
.card-restaurant-img{
    position: relative;
    width: 310px;
    height: 210px;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-image: url('/img/services/restaurant.jpg'); /* Path to your front image */
    background-size: cover;
    background-position: center; /* Center the image */
}
.card-restaurant-text{
    width: 310px;
    margin: 5px auto;
}
.card-visite{
    position: relative;
    margin: 10px;
    background-color: $color5;
    width: 340px;
    height: 600px;
    padding: 0;
    border-radius: 10px;
    transition: transform 0.3s;
}
.card-visite-img{
    position: relative;
    width: 310px;
    height: 210px;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-image: url('/img/services/visite.jpg'); /* Path to your front image */
    background-size: cover;
    background-position: center; /* Center the image */
}
.card-visite-text{
    width: 310px;
    margin: 5px auto;
}
.card-train{
    position: relative;
    margin: 10px;
    background-color: $color7;
    width: 340px;
    height: 600px;
    padding: 0;
    border-radius: 10px;
    transition: transform 0.3s;
}
.card-train-img{
    position: relative;
    width: 310px;
    height: 210px;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-image: url('/img/services/petit-train.jpg'); /* Path to your front image */
    background-size: cover;
    background-position: center; /* Center the image */
}
.card-train-text{
    width: 310px;
    margin: 5px auto;
}
.card-restaurant:hover, .card-train:hover, .card-visite:hover {
    transform: scale(1.05); /* Zoom in slightly on hover */
}
.info-services{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
}
.info-services-text p{
    width: 100%;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    font-family: $family-text;
    font-size: 0.8rem;
    font-style: italic;
}

// HABITATS PAGE
.bigtitle-img-habitats {
    width: 100%; /* Cover the full width of .bigtitle */
    height: 100%; /* Cover the full height of .bigtitle */
    background-size: cover; /* Ensure the image covers the entire card */
    background-position: center; /* Center the image */
    background-image: url('/img/habitats/bande-jaguar.jpg'); /* Path to your front image */
    padding: 0;
    position: absolute;
}
.card-marais{
    position: relative;
    margin: 10px;
    background-color: $color7;
    width: 370px;
    height: 620px;
    padding: 0;
    border-radius: 10px;
    transition: transform 0.3s;
}
.card-marais-img{
    position: relative;
    width: 350px;
    height: 210px;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-image: url('/img/habitats/marais.jpg'); /* Path to your front image */
    background-size: cover;
    background-position: center; /* Center the image */
}
.card-marais-text{
    width: 350px;
    margin: 3px auto;
}
.card-savane{
    position: relative;
    margin: 10px;
    background-color: $color5;
    width: 370px;
    height: 620px;
    padding: 0;
    border-radius: 10px;
    transition: transform 0.3s;
}
.card-savane-img{
    position: relative;
    width: 350px;
    height: 210px;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-image: url('/img/habitats/savane.jpg'); /* Path to your front image */
    background-size: cover;
    background-position: center; /* Center the image */
}
.card-savane-text{
    width: 350px;
    margin: 3px auto;
}
.card-jungle{
    position: relative;
    margin: 10px;
    background-color: $color4;
    width: 370px;
    height: 620px;
    padding: 0;
    border-radius: 10px;
    transition: transform 0.3s;
}
.card-jungle-img{
    position: relative;
    width: 350px;
    height: 210px;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-image: url('/img/habitats/jungle.jpg'); /* Path to your front image */
    background-size: cover;
    background-position: center; /* Center the image */
}
.card-jungle-text{
    width: 350px;
    margin: 3px auto;
}
.card-marais:hover, .card-savane:hover, .card-jungle:hover {
    transform: scale(1.05); /* Zoom in slightly on hover */
}
.button-marais, .button-savane, .button-jungle{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 3px;
    border: 1;
    background-color: $color2;
    font-family: $family-title;
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
    font-style: normal;
}
.button-marais:hover, .button-savane:hover, .button-jungle:hover {
    background-color: $color3;
    font-family: $family-title;
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
    font-style: normal;
}


//BIGTITLES MARAIS, SAVANE, JUNGLE
.bigtitle-img-marais {
    width: 100%; /* Cover the full width of .bigtitle */
    height: 100%; /* Cover the full height of .bigtitle */
    background-size: cover; /* Ensure the image covers the entire card */
    background-position: center; /* Center the image */
    background-image: url('/img/habitats/marais.jpg'); /* Path to your front image */
    padding: 0;
    position: absolute;
}
.bigtitle-img-savane {
    width: 100%; /* Cover the full width of .bigtitle */
    height: 100%; /* Cover the full height of .bigtitle */
    background-size: cover; /* Ensure the image covers the entire card */
    background-position: center; /* Center the image */
    background-image: url('/img/habitats/savane.jpg'); /* Path to your front image */
    padding: 0;
    position: absolute;
}
.bigtitle-img-jungle {
    width: 100%; /* Cover the full width of .bigtitle */
    height: 100%; /* Cover the full height of .bigtitle */
    background-size: cover; /* Ensure the image covers the entire card */
    background-position: center; /* Center the image */
    background-image: url('/img/habitats/jungle.jpg'); /* Path to your front image */
    padding: 0;
    position: absolute;
}
  
  //PAGES HABITATS ANIMAUX
.marais-description, .savane-description, .jungle-description{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding: 10px;
    max-width: 1200px;
}
.marais.marais-description p, .savane.savane-description p, .jungle.jungle-description p{
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
}
.marais-content, .savane-content, .jungle-content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px auto;
    max-width: 1300px;
    padding: 5px;
}
.container-marais, .container-savane, .container-jungle{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
}
.galerie-card{
    height: 300px;
    width: 400px;
    margin: 5px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover{	
      .titre-image{
          opacity: 1;
      }
      img{
          filter: brightness(0.3);
      }
      .btn-animal {
        display: block;
      }
    }
    img{
        transition: all 0.2s;	
    }
    .titre-image{
        position: absolute;
        top:50%;	
        left:50%;	
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.2s;
    }
    .btn-animal {
      display: none;
      position: absolute;
      bottom: 10px;
      align-items: center;
      justify-content: center;
      background-color: $color2;
      color: black;
      font-family: $family-title;
      font-size: 1.25rem;
      font-weight: 700;
    }
}
.galerie-img{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.btn-animal:hover{
    background-color: $color3;
}
.modal-body p {
    text-align: justify;
}
.modal-body h3 {
    font-style: italic;
}