@import 'custom';

// INDEX
header, footer {
    background-color: $color1;
    width: 100%;  
    margin: 0 auto;
    align-items: center;  
}

header {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

footer.footer {
    position: relative;
    top: 0 !important;
    width: 100%;
    justify-items: center;
    height: 110px;
    padding: 5px;
}

footer h4{
    margin: 0;
    margin: 5px;
}

footer p {
    font-family: $family-text;
    font-size: 0.65rem;
    margin: 0;
}

body, html {
    background-color: $color1;
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  

h1 {
    font-family: $family-title;
    font-size: 2.25rem;
    margin: 5px;
    font-weight: 700;
}

h2 {
    font-family: $family-title;
    font-size: 1.75rem;
    margin: 5px;
    font-weight: 700;
}   

h3 {
    font-family: $family-title;
    font-size: 1.5rem;
    margin: 5px;
    font-weight: 700;
}

h4 {
    font-family: $family-title;
    font-size: 1.25rem;
    margin: 5px;
    font-weight: 700;
}

p {
    font-family: $family-text;
    font-size: 1rem;
    margin: 5px;
}

.navbar {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 1440px;
}

.navbar-toggler {
    background-color: $color2;
}

.navbar-nav {
    font-size: 1.75rem;
    font-family: $family-title;
    font-weight: 600;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.logo {
    padding: 5px;
    border-radius: 10px;
    margin: 0;
    width: 100px;
    height: 100px;
}

// 404 PAGE
.error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 200px;
    padding: 10px;
    background-color: $color2;
    border-radius: 10px;
}

// HOME PAGE